<app-navbar></app-navbar>
<section>
    <div class="title">
        <h1>Cadastrar Novo Usuario</h1>
    </div>
</section>

<section>


    <form class="container">

        <div class="col-2">
                <div class="item">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control">
            </div>

            <div class="item">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control">
            </div>

        </div>


                <div class="item">
                    <label for="phone">Senha:</label>
                    <input type="password" name="senha" class="form-control">
                </div>

                <div style="margin-top: 10px;">
                    <button mat-raised-button color="primary">Salvar Usuario</button>
                </div>
    </form>



</section>