<app-navbar></app-navbar>
<section>
    <div class="title">
        <h1>Cadastrar Novo Contato</h1>
    </div>
</section>

<section>


    <form class="container">

        <div class="col-2">
                <div class="item">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control">
            </div>

            <div class="item">
                    <label for="phone">Phone:</label>
                    <input type="text" name="phone" class="form-control">
            </div>

        </div>


                <div class="item">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>

                <div style="margin-top: 10px;">
                    <button mat-raised-button color="primary">Salvar Contato</button>
                </div>
    </form>



</section>